/* GENERAL */

@import url("./assets/Inter/Inter-VariableFont_slnt\,wght.ttf");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    color: #474747;
    font-family: "Inter";
    background-color: #F9F9F9;
}

.base{
    display: flex;
    background-color: #F9F9F9;
    margin: auto;
    margin-bottom: 4rem;
    width: 55%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    position: relative;
    top: -1.5rem;
    text-align: justify;

    border-radius: 20px;
    transition: all 0.5s;
    box-shadow: 0rem 0.3rem;

    cursor: pointer;
    user-select: none;
}
.base.active{
    cursor: default;
}
.base:hover {
    width: 57%;
}
.base.active:hover {
    width:55%;
}

.folder{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* About me section */
#intro{
    margin: auto;
    text-align: center;
    padding-top: 8rem;
}
#name{
    color: #18181B;
    font-family: "Plus Jakarta Sans", "Inter";
    font-size: 3.5rem;
    font-weight: 800; /* Extra Bold */
}
#about{
    padding-top: 3rem;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

/* Links */
#nav{
    align-items: center;
}
#nav-links{
    display: flex;
    list-style: none;

    justify-content: center;
    gap: 5%;
    padding-top: 3rem;
    padding-bottom: 10rem;

    font-weight: 600; /* Semi Bold */
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: #474747;
    cursor: pointer;
    user-select: none;
    justify-content: center;
}
.link:hover{
    color: #18181B;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: #474747;
}

/*Main Project Area*/
.main{
    background-color: #EBECF5;
}
#bump{
    transition: all 0.5s;
    padding-bottom:4rem;
    width: 60%;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
}
#project-holder{
    padding-bottom: 1rem;
}
.in-text-link{
    color: #006cbd;
}
.in-text-link:hover{
    color: #18181B;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-color: #474747;
}



/*Responsive*/
@media only screen and (max-width:1300px) {
    #bump{
        width: 80%;
    }
    .base{
        width: 70%;
    }
    .base:hover{
        width: 74%;
    }
    .base.active:hover {
        width:70%;
    }
}
@media only screen and (max-width:1100px) {
    #about{
        padding-left: 20%;
        padding-right: 20%;
    }
    .project-gif{
        margin-top: 2rem;
    }
}
@media only screen and (max-width:900px) {
    .project-gif{
        margin-top: 6rem;
    }
    .folder-item{
        padding-right: 1rem;
        padding-left: 1em;
    }
}
@media only screen and (max-width:800px) {
    #about{
        padding-left: 15%;
        padding-right: 15%;
    }
    #name{
        color: #18181B;
        font-family: "Plus Jakarta Sans", "Inter";
        font-size: 3rem;
        font-weight: 800; /* Extra Bold */
    }
}
/* Change Projects to be mobile frendily*/
@media only screen and (max-width:800px) {
    .base{
        flex-direction: column;
    }
    .project-name, .folder-name{
        padding: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
    .project-description, .folder-description{
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .base.active{
        flex-direction: column-reverse;
    }
    .project-gif{
        margin-top: 2rem;
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .folder-image{
        height: 3rem;
        position: absolute;
        left:0;
        margin-left: 0rem;
        top:0;
        margin-top: 4rem;
    }
    .folder-name.active{
        width: 60%;
        margin: auto;
        padding-bottom: 0.5rem;
    
        text-align: center;
        font-family: "Plus Jakarta Sans", "Inter";
        font-size: 2.5rem;
        font-weight: 600; /* Semi Bold */
    }
    .folder-description.active{
        margin: auto;
        margin-bottom: 2rem;
    }
    .folder-item{
        justify-content: center;
        text-align: center;
        padding-left: auto;
        padding-right: auto;
    }
}
@media only screen and (max-width:635px) {
    #bump{
        width: 100%;
    }
    .base{
        width: 95%;
    }
    .base:hover{
        width: 100%;
    }
    .base.active:hover{
        width: 95%;
    }
    .folder-image{
        display: none;
    }
    .folder-name{
        margin-left: 3rem;
    }
    .folder-description{
        padding-right: 0;
    }
    .folder-name.active{
        margin: auto;
    }
    .folder-description.active{
        margin-right: 3rem;
    }
}
@media only screen and (max-width:425px) {
    .folder-item{
        justify-content: left;
        text-align: left;
        padding-left: 0.5rem;
    }
}
@media only screen and (max-width:320px) {
    .folder-name{
        margin-left: 1rem;
    }
    #nav-links{
        padding-bottom: 5rem;
    }
}